{template '_header'}
 
<div class="page-heading"> <h2>下载对账单</h2> </div>
<form action="" method="post" class="form-horizontal form" enctype="multipart/form-data">
 
         <div class='alert alert-info'>
            
             <p>对账单中涉及金额的字段单位为“元”。</p>
             <p>下载账单接口为单日期接口，请尽量保持账单时间段不要过长。</p>
         </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">单位选择</label>
                <div class="col-sm-9 col-xs-12">
                    <select name="unitid">
                    <option value="-1">全部</option>
                    {loop $unitlist $row}
                        <option value="{$row['id']}">{$row['unitname']}</option>
                    {/loop}
                    </select>

                </div>
            </div>
          <div class="form-group">
                <label class="col-sm-2 control-label">账单时间</label>
                <div class="col-sm-9 col-xs-12">
                     {php echo tpl_form_field_daterange('time', array('starttime'=>date('Y-m-d', $starttime),'endtime'=>date('Y-m-d', $endtime)));}
                </div>
            </div>
           <div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-9 col-xs-12">
                    <input type='hidden' name='token' value="{$_W['token']}" />
                    <input name="submit" type="submit" value="下载对账单" class="btn btn-primary span2" >
            </div>
           </div>
 </form>

{template '_footer'}