body{
    background: #f8f8f8;
    -webkit-text-size-adjust: 100%;
}
.lottery-title{
    padding-left: .5rem;
    padding-right: 1rem;
}
.title-left{
    font-weight: bold;
    padding-left: .5rem;
    border-left: solid .2rem #FF6F6F;

}
.title-right{
    color: #676767;
    float: right;
}
.lottery-content{
    position: relative;
    width:100%;
    height:100%;
}
.lottery-item{
    position: relative;
    display: flex;
    width: 100%;
    padding:0.3rem 0 0;
    padding-right: 1rem;

}
.item-icon{
    padding-left: 1rem;
    width: 20%;
    height:3rem;
    text-align: left;
}
.item-icon img{
    height: 2.3rem;
}
.item-content{
    padding-left: 0.5rem;
    width: 50%;
    height:3rem;
    text-align: left;
    border-bottom: solid 1px #ccc;
}
.item-title{
    font-weight: bold;
}
.item-time{
    color: #a8a8a8;
}
.item-btn{
    width: 25%;
    height:3rem;
    padding-left: .5rem;
    border-bottom: solid 1px #ccc;
}
.btn-xs{
    height: 1.6rem;
    line-height: 1.5rem;
}

.lottery-empty{
    padding-top: 5rem;
    text-align: center;
}
.lottery-head .head{
        color: white;
        font-size: 1rem;
        font-family: KaiTi_GB2312,KaiTi,DFKai-SB;
        
}

.lottery-head{
    background-color:#383d98;
    background-repeat: repeat-x; 
}
@font-face
{
font-family: myFirstFont;
src: url('../fonts/FZBWKSJW.ttf');
}
.clear{ clear:both;}
.lottery-head_top{
    width:10%;
    float: right;
}
.lottery-head_top a{
    display:block;

}
.div_top{
    background-image: url("../images/newqd/xinxin.png");
    position: relative;
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
}
.div_head{
    text-align:  right;
  float: left;
 bottom:0.3rem;
 width: 85%;
 position: absolute;
}
.div_head i{
    width: 30%;
    background-color: white;
    display: -webkit-inline-box;
    height: 0.1rem;
}
.head_img a{
    display:block;
    width: 30%;
    height: 50%;
    margin: 0 auto;
    }
.div_head_three{
    overflow: hidden;


}
.div_head_three .divthree{
    position: relative;
    float:left;
    width:14%;
    margin: 10px 0px 10px 1px;
    color:white;
     font-size: .6rem;

}



.pstat{
   text-align: center;
}
.showh1{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 55%;
}

.divthree_active{
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    float:left;
    width:14%;
    margin: 10px 0px 10px 1px;
    color:white;
}
.divthree_active:nth-child(1) {
  margin-left: -3px;
}
.divthree_active:nth-child(7) {
margin-left: 4px;
}
.divthree:nth-child(1) {
  margin-left: -3px;
}
.divthree:nth-child(7) {
margin-left: 4px;
}
.div_head_three img{
    width:100%;
    height:100%;
}
.div_head_tow{
    width:100%;
}
.div_head_four{
    color:white;
    text-align: center;
    margin-top: 0px;
    top: 0px;
   
}

.threediv{
 overflow:hidden;
      width:1024px;

}
.div_head_five_img{
    width:50%;
    float: left;


}
.div_head_five{
   
}
.div_head_five_img img{
    width:100%;
    height:100%;
}
.img_right{
     float: right;
}
.img_left{
    border-radius:25px;
}
.lottery-content-content{
    position: relative;
    width:100%;
}
/*手机横屏*/
@media screen and (orientation:landscape) {  
.divthree_img .jifen{
        position: absolute;
        z-index: 2;
        top: 35%;
        left: 35%;
    }
    .divthree_img{
        position: relative;
        font-size: 0.6rem;
    }
    .cjjh{
        position: absolute;
        z-index: 2;
        top: 25%;
        width: 40%;
        left: 35%;
    }
.number{
        position: absolute;
        z-index: 2;
        color: black;
        font-size: 0.8rem;
        top: 0;
        left: 20%;
    }
}

/*手机竖屏*/
@media screen and (orientation:portrait) {
    .divthree_img{
        position: relative;
       
    }
   .divthree_img .jifen{
        position: absolute;
        z-index: 2;
        top: 25%;
        left: 29%;
    }
    .cjjh{
        position: absolute;
        z-index: 2;
        top: 15%;
        width: 50%;
        left: 29%;
    }
    .number{
        position: absolute;
        z-index: 2;
        color: black;
       
        top: 6%;
        left: 20%;
    }
}
