{php $this->shopShare()}

<script language="javascript">
        clearTimeout(window.interval);
        window.interval = setTimeout(function () {
            window.shareData = {php echo json_encode($_W['shopshare'])};
            jssdkconfig = {php echo json_encode($_W['account']['jssdkconfig']);} || { jsApiList:[] };
            jssdkconfig.debug = false;
            jssdkconfig.jsApiList = ['checkJsApi','updateAppMessageShareData','updateTimelineShareData','onMenuShareWeibo','showOptionMenu', 'hideMenuItems'];
            wx.config(jssdkconfig);
            wx.ready(function () {
                wx.showOptionMenu();

                {if !empty($_W['shopshare']['hideMenus'])}
                    wx.hideMenuItems({
                        menuList: {php echo  json_encode($_W['shopshare']['hideMenus'])}
                    });
                {/if}

                wx.updateAppMessageShareData(window.shareData);
                wx.updateTimelineShareData(window.shareData);
                wx.onMenuShareWeibo(window.shareData);

            });

            //alert(1);
        },500);



</script> 