{template '_header'}
<link href="../addons/ewei_shopv2/plugin/union/static/css/mobilestyle.css" rel="stylesheet" type="text/css"/>
<div class='fui-page fui-page-current  page-goods-detail' id='page-goods-detail-index'>
    <div id="m_common_header" class="m_item_header" style="z-index: 99999">
        <header class="jd-header jd-header-immerse jd-header-op0">
            <div class="jd-header-new-bar" id="jd_header_new_bar">
                <a  class="jd-header-icon-back J_ping back"  ><span></span></a>
            </div>
        </header>
    </div>

    <div class="fui-content member-page navbar" style="top: 0;bottom: 0">

        <div class="fui-cell-group fui-cell-click">
            <div class="fui-cell">
                <a href="https://beian.miit.gov.cn" class="fui-cell-text"><p>浙ICP备05048259号-2</p></a>
            </div>
            <div class="fui-cell">
                <div class="fui-cell-text"><p>增值电信业务经营许可证：浙B2-20181338</p></div>
            </div>
            <a class="fui-cell" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010302003321">
                <img src="https://www.cnbuyers.cn/static/images/ga.png">浙公网安备 33010302003321号
            </a>
            <a class="fui-cell" href="http://idinfo.zjamr.zj.gov.cn/bscx.do?method=lzxx&amp;id=3301033301030000191707">
                <img src="https://www.cnbuyers.cn/static/images/i_lo2.gif">
            </a>
        </div>
    </div>
</div>
{template '_footer'}